h1 {
    color: red;
    text-align: center;
}

h2 {
    color: orange;
    text-align: center;
}

.mark {
    color: red;
    font-size: 20px;
}

p {
    width: 1000px;
    background-color: #ccc;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 850px;
    border-width: 0;
    background-color: transparent;
    font-size: 18px;
}